*{
	margin:0;
	padding:0;
}

a{
	text-decoration: none;
}

.header{
	background-color: black;
     text-align: center;
     padding-top:20px;
     padding-bottom:20px;


}


.header ul li{
	list-style: none;
    display: inline-block;

}

.header ul li a{
   color:white;
   font-size:3px;
   text-align: center;
    
}




